@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  background-color: rgb(0, 0, 0, 0.6);
  background-image: url('../assets/bg.svg');
}

.container {
  width: 1512px;
  height: 982px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header {
  width: 517px;
  height: 74px;
  top: 63px;
  left: 306px;
}

.title {
  font-family: Fira Code;
  font-size: 60px;
  font-weight: 999;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.sub-title {
  color: rgba(149, 235, 168, 1);
  font-family: Fira Code;
  font-size: 60px;
  font-weight: 999;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
}

.form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.label {
  color: rgba(255, 255, 255, 1);
}

.ipt {
  width: 171px;
  height: 48px;
  color: white;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.1);
}

.ipt::placeholder {
  width: 37px;
  height: 25px;
  color: white;
  font-family: Fira Code;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

}

.btn {
  margin-left: 10px;
  margin-top: 23px;
  width: 171px;
  height: 48px;
  font-weight: 900;
  border-radius: 10px;
  background-color: rgba(150, 235, 149, 1);
  border: 1px solid rgba(150, 235, 149, 1);
}

.root {
  display: flex;
  flex-flow: row wrap;
  width: 900px;
  height: 560px;
  margin-top: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
  box-sizing: border-box;
  overflow-y: auto;
}

.title-secundary{
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 20px 0 40px 0;
  color: white;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 150px;
  height: 44px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 22px;
}

.link-icon {
  width: 15%;
}

.link-moeda {
  width: 30%;
  font-family: Fira Code;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}

.link-valor {
  width: 50%;
  font-family: Fira Code;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgba(255, 231, 19, 1);
}

@media only screen and (max-width: 375px) {
  .root {
    display: flex;
    justify-content: center;
  }
  .title-list {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    padding: 10px;
    width: 100%;
    height: auto;
  }

  .header {
    width: 100%;
  }
  .title {
    font-size: 2rem;
  }
  .sub-title {
    font-size: 2rem;
  }
  
  .form {
    display: block;
    width: 100%;
    height: auto;
  }
  .ipt {
    width: 100%;
  }
  .btn {
    margin: 0;
    margin-top: 10px;
  }

  .root {
    width: 100%;
    display: flex;
  }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
  .container {
    margin: 0;
    padding: 0;
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .header {
    width: 100%;
  }
  .title {
    font-size: 2rem;
  }
  .sub-title {
    font-size: 2rem;
  }
  
  .form {
    display: block;
    width: 100%;
    height: auto;
  }
  .ipt {
    width: 100%;
  }
  .btn {
    margin: 0;
    margin-top: 10px;
  }

  .root {
    width: 100%;
    display: flex;
  }
}
